<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syt.shopp.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.syt.shopp.pojo.Product" >
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="stock_num" property="stockNum" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="product_infor" property="productInfor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, brand, price, stock_num, img_url, product_infor
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.syt.shopp.pojo.Product" >
    insert into product (product_id, product_name, brand,
      price, stock_num, img_url,
      product_infor)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR},
      #{price,jdbcType=DOUBLE}, #{stockNum,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR},
      #{productInfor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.syt.shopp.pojo.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="productInfor != null" >
        product_infor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productInfor != null" >
        #{productInfor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.syt.shopp.pojo.Product" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productInfor != null" >
        product_infor = #{productInfor,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syt.shopp.pojo.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      stock_num = #{stockNum,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      product_infor = #{productInfor,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from product
    where product_id = #{productId}
  </select>
  <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from product
  </select>
</mapper>